.Amazon-outlook {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.amazon-pictures{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #c7c7c7;
    margin: -1px 0 0 -1px;
    padding: 10px;
}
.Amazon.layout{
    display:grid;
    border-collapse: collapse;
    grid-template-columns: 1fr 1fr 1fr;
    border: 20px 10px;
    border-style:solid;
    column-gap:40px;
    row-gap:40px;
    
}
@media (min-width:2000px){
.Amazon-layout{ grid-template-columns:  1fr 1fr 1fr ;}
}
@media(max-width:751px) and (min-width:1999px){
    .Amazon-layout{grid-template-columns:1fr 1fr 1fr}
}
@media (max-width:750px) {
    .Amazon-layout {
        grid-template-columns:  1fr 1fr 1fr ;
    }
}
.header{
    background-color:black;
    display:flex;
    top:0;
    left:0;
    right:0;
    padding:10px;
    margin-right: 0;
    padding-right: 100px;
    flex-direction:row;
    justify-content:space-between;
    height: 45px;
    position:fixed;
    
}
.body{
    margin:0;
    
}
.search-bar{
    border:none;
    padding:15px;
    border-radius:4px;
    display:flex;
    flex:1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   height: 15px;
    justify-content: center;
    align-items: center;
    width: 0;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    font-family: Roboto, arial;
   
}

.socks{
    display:block;
    width:170px;
    height:170px;
    object-fit:contain;
    margin:0 auto 15px;

}
.amazon-info{
    display: grid;
    grid-template-columns:  1fr;
   margin-bottom:10px;
    
    justify-content:center;
    align-items:center;
    width:200px;
    font-family: Roboto, arial;
}
.ratings{
    height:40px;
   
   
}
.total-rating{
    color:rgb(53, 92, 222);
}
.rate{
    height:20px;
    width:100px;
   
}

.money{
    margin-top:-25px;
    font-weight:bold;
    font-family: Roboto, arial;
}
.down{
    width:165px;
    height:35px;
    background-color:rgb(222, 170, 76);
    border:none;
    border-radius:50px;
    margin-top:40px;
    margin-bottom:25px;
    margin-left:20px;
   

}
.middle-section{
   margin-left:30px;
    border-radius: 4px;
    display:flex;
    height:40px;
    max-width: 800px;
    flex:1;
   
    
    
}
.search-button{
    border:none;
    background-color: yellow;
    border-radius:4px;
    height:45px;
    padding:11px;
    border-top-left-radius:0 ;
    border-bottom-left-radius: 0;
    justify-content: center;
    place-items: center;


    
}
.search-image{
    height:23px;
}
.left-section{
    display:flex;
    justify-content: space-between;
    
    
}
.amazon-logo{
    width:100px;
    height:40px;
    margin-top:5px;
    margin-left:20px;
    margin-right:-10px;
    
}
.right-section{
    display:flex;
    margin-left:30px;
    width:80px;
    justify-content: center;
    align-items: center;
    margin-top:-15px;
    justify-content: space-between;
    margin-right:10px;
}
.left-words{
    color:white;
    padding-top: 30px;
    padding-bottom:20px;
    margin-right: 10px;
    width:67px;
    font-family:Roboto, arial;
    
}
.left-word{
    font-weight:bold;
    font-family:Roboto, arial;
}
.shopping{
    width:55px;


    
}
.shop{
    margin-top:20px;
}
.digit{
    font-weight:bolder;
    color: darkorange;
    position:absolute;
    margin-left:28px;
    font-family:Roboto, arial;
}
.container{
    padding-left:20px;
}
.chrat{
    color:white;
    margin-bottom:-30px;
    font-weight:bold;
    font-family:Roboto, arial;
}
.contain-words{
    height: 45px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    
    display:flex;
    width:100px;
    padding-left:8px;
    padding-bottom:5px;
    padding-right:-20px;

    }

.contain-words:hover{
    border-color:white;
    border-style:solid;
  
}
select{
    background-color:rgb(224, 224, 224);
    border-radius: 8px;
    padding:6px;
    border:none;
    cursor:pointer;
}
option{
    font-family:Roboto, arial;
    
}
select:hover{
    border-color:yellow;
}
option:active{
    border-color: yellow;
}
